<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.cory506068" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Cory</name>
  <description>
        Sistema de frente de caixa para pedidos e vendas de produtos proprio.
  </description>
  <author email="lucasnpinheiro@gmail.com" href="http://agenciavoxel.com.br/">
        Agência Voxel
  </author>
  <content src="index.html"/>
  <allow-navigation href="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="false"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/> 
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
  </platform>
  <icon src="resources/android/icon/drawable-mdpi-icon.png"/>
  <plugin name="cordova-plugin-whitelist" spec="~1.0.0"/>

</widget>